<h1>Sign Up Confirmation</h1>

<h3>Are you sure these values are correct?</h3>
<br>
<h4> Email: <%= @user.email %></h4>
<h4> Name: <%= @user.name %></h4>

<div class="row">
  <div class="col-md-4">
    <%= form_for @user, :url => { :action => :create } do |f| %>
      <p>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :password %>
        <%= f.hidden_field :password_confirmation %>
      </p>
      <%= f.submit 'Yes', class: 'btn btn-success' %>
      <%#= f.submit 'No Form', name: 'cancel', class: 'btn' %>
      <%= link_to 'No', new_user_path, class: 'btn btn-danger' %>
      <% end %>
  </div>
</div>
